
/*---Mobile responsive--*/
@media (max-width:576px){
	.col-1{
		width:8.33%;
	}
	.col-2{
		width:16.66%;
	}
	.col-3{
		width:25%;
	}
	.col-4{
		width:33.33%;
	}
	.col-5{
		width:41.66%;
	}
	.col-6{
		width:50%;
	}
	.col-7{
		width:58.33%;
	}
	.col-8{
		width:66.66%;
	}
	.col-9{
		width:75%;
	}
	.col-10{
		width:83.33%;
	}
	.col-11{
		width:91.66%;
	}
	.col-12{
		width:100%!important; 
	}
	.container{
		width:100%!important;
		padding:0 10px;
		}
	.disp-none{
		display:none; 
	}
	.head-date{
		text-align:center;
	}
	.banner-section{
		background-position:center;
	}
	
	.banner-container{
		height:auto;
		padding:200px 0;
	}
	.banner-content{
		padding-bottom:20px;
		text-align:center;
	}
	.banner-box{
		height:auto;
	}
	.column-reverse{
		flex-direction:column-reverse;
	}
	.food-contain::after{
		width:46%;
	}
	.rt-area a{
		font-size:10px;
	}
	.pd-btm{
		padding-bottom:20px;
	}
	.h1-f-size{
		font-size:18px;
	}
	.h3-f-size{
		font-size:18px;
	}
	.banner-content h1{
		font-size:35px;
	}
	.banner-content h3{
		font-size:18px;
	}
	.head-btn{
		font-size:11px;
		padding:5px 10px;
	}
	.food-name {
		font-size:12px;
	}
	.f-size-30{
		font-size:30px;
	}
	.spl-content h1 {
		font-size:26px;
	}
}
@media (min-width:576px) and (max-width:768px)
{
	.col-12{
		width:100%!important; 
	}
	.container{
		width:100%!important;
		padding:0 10px;
		}
		.disp-none{
		display:none; 
		}
		.column-reverse{
		flex-direction:column-reverse;
		}
	.banner-container{
		height:auto;
		padding:120px 0;
	}
	.banner-content{
		padding-bottom:20px;
		text-align:center;
	}
	.banner-box{
		height:auto;
	}
	.column-reverse{
		flex-direction:column-reverse;
	}
	.rt-area a{
		font-size:13px;
	}
	.pd-btm{
		padding-bottom:20px;
	}
	.h1-f-size{
		font-size:28px;
	}
	.h3-f-size{
		font-size:18px;
	}
	.f-size-30{
		font-size:30px;
	}
	.food-name {
		font-size:12px;
	}
	.spl-content h1 {
		font-size:26px;
	}
	.out-content{
		min-height:120px;	
	}
	.describe{
		top: 110px;
	}
}
@media  (min-width:768px) and (max-width:992px)  {
	.col-md-1{
		width:8.33%;
	}
	.col-md-2{
		width:16.66%;
	}
	.col-md-3{
		width:25%;
	}
	.col-md-4{
		width:33.33%;
	}
	.col-md-5{
		width:41.66%;
	}
	.col-md-6{
		width:50%;
	}
	.col-md-7{
		width:58.33%;
	}
	.col-md-8{
		width:66.66%;
	}
	.col-md-9{
		width:75%;
	}
	.col-md-10{
		width:83.33%;
	}
	.col-md-11{
		width:91.66%;
	}
	.col-md-12{
		width:100%!important; 
	}
	.container{
		width:100%!important;
		padding:0 10px;
	}
	.disp-md-none{
		display:none; 
	}
	.banner-container{
		height:auto;
		padding-top:440px;
		padding-bottom:50px;
	}
	.banner-content{
		padding-bottom:20px;
		text-align:center;
	}
	.banner-box{
		height:auto;
	}
	div.abt-image{
		padding:20px;
	}
	div.abt-image::before{
		top:38px;
		left:38px;
	}
	div.abt-image::after{
		bottom:40px;
		right:40px;
	}
	div.abt-image:hover::after{
	bottom:30px;
	right:30px;
	}
	div.abt-image:hover::before{
	top:28px;
	left:28px;
	}
	.food-name{
	width:94%;
	}
	.food-price{
	width:6%;
	}
	.food-contain::after{
		width:85%;
	}
	.out-content{
		min-height:120px;	
	}
	.describe{
		top: 85px;
	}
	.pd-btm{
		padding-bottom:20px;
	}
	.test-div{
		margin-bottom:70px;
	}
	.column-reverse{
		flex-direction:column-reverse;
	}
}